
.innerwrapper{
    width:20%;
    float:left;
    font-size:1.5em;
    margin-left:40%;
    margin-right:40%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    -moz-box-shadow:    0 2px 5px 0 rgba(0,0,0,0.26);
    box-shadow:         0 2px 5px 0 rgba(0,0,0,0.26);
}

.usericon{
     width:100%;
     padding-top:2%;
     padding-bottom:2%;
     -webkit-transition: all  2s ease-out; 
     transition: all 2s ease-out; 
}
.usericon img{
    width:35%;
    height:100%;
}

.widget-title{
    font-size:0.5em;
    width:100%;
	padding-bottom:4%;
	margin-bottom:0px;
    color:#FFFFFF;
	text-transform: uppercase;
    -webkit-transition: all  2s ease-out; 
    transition: all 2s ease-out; 
}
.odometer {
    color:#4CAF50;
    background-color:#FFFFFF;
    width:100%;
    font-size:2em;
    margin-top:-1px;
    z-index:999;
}

.odometer-inside{
    line-height:1.5em;
}
