.innerwrapper {
    width: 10%;
    float: left;
    font-size: 1.2em;
    margin-left: 45%;
    margin-right: 45%;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
}

.usericon {
    display: none;
}

.usericon img {
    display: none;
}

.widget-title {
    display: none;
}

.odometer {
    color: #FFFFFF;
    font-weight: BOLD;
    width: 100%;
    height: 100%;
}

.odometer-inside {
    line-height: 2em;
    font-size: 2em;
}

@media (max-width: 980px) {
    .innerwrapper {
        width: 25%;
        margin-left: 37.5%;
        margin-right: 37.5%;
    }
    .odometer-inside {
        font-size: 2.5em;
    }
}

@media (max-width: 520px) {
    .innerwrapper {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .odometer-inside {
        font-size: 3em;
    }
}